.card-container {
    width: 100%;
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 0px 35px 0px rgb(154 161 171 / 15%);
    border-radius: var(--border-radius);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;


        &--title {
            font-weight: 500;
            color: var(--dark);
            font-size: 14px;
        }
    }
}

[data-theme="dark"] {
    .card-container {
        background-color: #2a3042;
        color: rgba(255, 255, 255, .9);
        box-shadow: unset;

        &__header {
            &--title{
                color: rgba(255, 255, 255, .9);
            }
        }
    }
}