.u-revert {
    transform: scale(-1, 1);
}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

.u-pointer {
    cursor: pointer;
}

.u-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}